nav{
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-bottom: 100px;
}
.active{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}