.register{
    display: flex;
    justify-content: center;
    gap: 128px;
    margin-top: 64px;
    height: 80vh;
}
.register > img{
    margin-top: 48px;
    width: 585px;
    height: 298px;
}
.register > div{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.register > div > h2{
    color: #FF4500;
}