.main{
    margin: 20px;
}

form > div{
    display: flex;
    flex-direction: column;
}

.input_name{
    height: 43px;
    width: 400px;
    margin: 13px 0px 24px 0px;
    padding-left: 13px;
    background-color: #3A3B3C;
    border-radius: 20px;
    border: none;

}

.button{
    width: 100%;
    font-weight: bold;
    background-color: #19C692;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;

    height: 52px;
    width: 396px;
}

label{
    color: #fff;
    font-size: 15px;
}